/* 
	网站通用外部样式表
**/
/* Web字体，常规文本 */
@font-face {
    font-family: 'blokletters_viltstifviltstift';
    src: url('Blokletters-Viltstift-webfont.eot');
    src: url('Blokletters-Viltstift-webfont.eot?#iefix') format('embedded-opentype'),
         url('Blokletters-Viltstift-webfont.woff') format('woff'),
         url('Blokletters-Viltstift-webfont.ttf') format('truetype'),
         url('Blokletters-Viltstift-webfont.svg#blokletters_viltstifviltstift') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL (APPLIED TO ELEMENTS)
------------------------------------------ */
body {
	font: 100% 'blokletters_viltstifviltstift'， Geneva, Tahoma, Verdana, sans-serif;   /* 16px */
	background-color: #59471D;
	color: #A5B89A;
}

h1 {
	font-size: 3.5em;   /* 56px/16px */
	color: #CD3F24;
}

h2 {
	font-size: 1.75em;
}

a:link,
a:visited {
	color: #A58E1A;
	text-decoration: none;
}

a:hover {
	/*color: #2B664F;*/
	border-bottom: dotted;
}

/* CONTAINERS
------------------------------------------ */
/* 在父元素上使用clearfix类清除浮动，解决其高度问题 */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.container {
	box-sizing: border-box;
	width: 90%;
	/* 垂直居中 */
	margin: 4.3em auto 0;   /* top: 68px/16px */
}

/* page header */

/* global navigation */


main {
	background-color: #1C2011;
	border-radius: 20px;
}

/* 响应式图像尺寸 */
main img {
	float: left;
	max-width: 50%;
	border-radius: 20px 0 0 20px;
}

.login-info {
	margin-left: 50%;
}

.login-info h1 {
	text-align: center;
}

.login-info .subtitle {
	font-size: 1.25em;    /* 20px/16px */
	margin-left: 33%;
	position: relative;
	top: -1em;            /* 16px */
}

.login-info form {
	width: 55%;
	margin-top: 2em;    /* 32px/16px */
	margin-left: 7em;   /* 112px/16px */
	position: relative;
}

.login-info input {
	display: block;
	width: 100%;
	height: 2em;         /* 32px/16px */
	margin-bottom: 1em;  /* 16px */   
	border-radius: 5px;
}

.login-info button {
	width: 30%;
	height: 30px;
	position: absolute;
	right: 0;
}

/* page footer */
footer {
	font-size: .625em;   /* 10px/16px */
	color: #1C2011;
	text-align: center;
	margin-top: 3em;     /* 30px/10px */
}
